/* COMMON */
.body {
  font-size: 16px; 
}
.inner {
  width: 1140px;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}
a {
  text-decoration: none;
}
b {
  font-weight: 700;
}
.btn {
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #c57bf5;
  transition: 1s;
  cursor: pointer;
}
.btn:hover {
  background-color: #957ADA;
}

/* HEADER */
.header {
  position: fixed;
  width: 1440px;
  height: 70px;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09);
}
.header > .inner {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.header > .inner .logo img {
  height: 70px;
}
.header .inner .btn a {
  color: white;
  margin: 0 15px;
  font-size: 12px;
}

/* MAIN */
.main {
  padding-top: 70px;
  background-color: #f6f8f9;
}
.main > .inner {
  height: 912px;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  
}
.main > .inner .textBox {
  margin-top: 100px;
  padding-top: 50px;
}
.main > .inner .textBox span {
  color: #c57bf5;
  margin-bottom: 10px;
  display: block;
}
.main > .inner .textBox h1 {
  font-size: 50px;
  color: #3a3f52;
  font-weight: 100;
  line-height: 1.1;
  margin-bottom: 10px;
  display: block;
}
.main > .inner .textBox p {
  font-size: 24px;
  color: #8DA2B5;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: 10px;
  display: block;
}
.main > .inner .textBox > .btn {
  width: 120px;
}

/* FOOTER */
.footer {
  background-color: #292C31;
  padding-bottom: 30px;
}
.footer .container .Box {
  border-bottom: 1px solid #62656a;
}
.Box li:nth-child(1) {
  color: #aeb3bd;
  padding-top: 50px;
  padding-bottom: 30px;
}
.Box li:nth-child(2) {
  color: #62656a;
  font-size: 12px;
  margin-bottom: 20px;
}
.Box .aTag {
  display: flex;
  flex-direction: column;
  
}
.Box .aTag a {
padding: 8px 0;
font-size: 12px;
color: #c57bf5;
}
.Box .aTag a:nth-child(3) {
  margin-bottom: 30px;
}
.Box .aTag a:hover {
  color: #0095f7;
}
.footer .container .copyright {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin-top: 30px;
  color: #aeb3bd;
}
.footer .container .copyright a {
  color:  #c57bf5;
}