/* COMMON */
.body {
  font-size: 16px; 
}
.inner {
  width: 90%;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}
a {
  text-decoration: none;
}
b {
  font-weight: 700;
}
.btn {
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #c57bf5;
  transition: 1s;
  cursor: pointer;
}
.btn:hover {
  background-color: #957ADA;
}

/* HEADER */
.header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09);
}
.header > .inner {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.header > .inner > .material-icons {
  display: none;
}
.header > .inner > .download__box {
  display: none;
}

.header > .inner .logo img {
  height: 70px;
}
.header .inner .btn a {
  color: white;
  margin: 0 15px;
  font-size: 12px;
}

/* MAIN */
.main {
  padding-top: 30px;
  background-color: #f6f8f9;
}
.main > .inner {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  
}
.main > .inner .textBox {
  margin-top: 100px;
  padding-top: 50px;
}
.main > .inner .textBox span {
  color: #c57bf5;
  margin-bottom: 10px;
  display: block;
}
.main > .inner .textBox h1 {
  font-size: 50px;
  color: #3a3f52;
  font-weight: 100;
  line-height: 1.1;
  margin-bottom: 10px;
  display: block;
}
.main > .inner .textBox p {
  font-size: 24px;
  color: #8DA2B5;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: 10px;
  display: block;
}
.main > .inner .textBox > .btn {
  width: 120px;
}
.main > .inner .textBox > .btn a {
  color: #fff
}

/* FOOTER */
.footer {
  background-color: #292C31;
  padding-bottom: 30px;
}
.footer .container .Box {
  border-bottom: 1px solid #62656a;
}
.Box li:nth-child(1) {
  color: #aeb3bd;
  padding-top: 50px;
  padding-bottom: 30px;
}
.Box li:nth-child(2) {
  color: #62656a;
  font-size: 12px;
  margin-bottom: 20px;
}
.Box .aTag {
  display: flex;
  flex-direction: column;
  
}
.Box .aTag a {
padding: 8px 0;
font-size: 12px;
color: #c57bf5;
transition: 1s;
display: block;
width: max-content

}
.Box .aTag a:nth-child(3) {
  margin-bottom: 30px;
}
.Box .aTag a:hover {
  color: #0095f7;
}
.footer .container .copyright {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin-top: 30px;
  color: #aeb3bd;
}
.footer .container .copyright a {
  color:  #c57bf5;
  transition: 1s;
}
.footer .container .copyright a:hover {
  color: #0095f7;
}

@media screen and (max-width: 768px) {
  /* HEADER */
  body {
    overflow-x: hidden;
  }
  .header {
    position: fixed; 
  }
  .header > .inner .download__box {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: space-between;
    top: 70px;
    width: 90%;
    height: 50px;
    background-color: #fff;
  }
  .header > .inner .download__box > .material-icons {
    font-size: 20px;
    color: #62656a;
  }
  .header > .inner .download__box.hide {
    display: flex;
  }
  .header > .inner .download__box .download {
    margin-left: 10px;
  }
  .header > .inner .download__box .download a {
    color: #0095f7;
  }
  .header > .inner > .material-icons {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 40px;
    font-weight: 400;
  }
  .header .logo img {
    position: absolute;
    left: 50%;
    margin-left: calc(224.65px / -2);
  }

  .header .btn {
    display: none;
  }
  /* MAIN */

  .main .inner {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 130px;
  }
  .main .inner .textBox h1 {
    font-size: 34px;
  }
  .main .inner .textBox p {
    font-size: 20px;
  }

  /* FOOTER */
  .footer {
    width: 100%;
  }
  .footer .container {
    margin-left: 5%;
  }
  .footer .container .copyright {
    display: flex;
    justify-content: flex-start;
  }
  .Box li:nth-child(2) {
    font-size: 16px;
    line-height: 1.3;
  }

}